@font-face {
    font-family: 'Inter-Bold';
    src:url(./Fonts/Inter/Inter-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter-Light';
    src:url(./Fonts/Inter/Inter-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter-Regular';
    src:url(./Fonts/Inter/Inter-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter-SemiBold';
    src:url(./Fonts/Inter/Inter-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(./Fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url(./Fonts/Roboto/Roboto-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url(./Fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(./Fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}